*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(55, 55, 55);
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
nav a{
    display: inline-block;
    margin: 6px;
    text-decoration: none;
    color: white;
}

#container{
    width: 100%;
    background-color: rgb(62, 183, 199);
    text-align: center;
    height: 400px;
}

h1{
    padding-top: 5pc;
    padding-bottom: 1pc;
}

input[type='text']{
    margin: 5px;
}

#weight-guide{
    margin-top: 20px;
}