*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(55, 55, 55);
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
nav a{
    display: inline-block;
    margin: 6px;
    text-decoration: none;
    color: white;
}

.cop{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    display: inline-block;
}

#gray{
    background-color: gray;
}

#green{
    background-color: green;
}

#pink{
    background-color: pink;
}
#white{
    background-color: white;
}

.canvas{
    text-align: center;
}

h1{
    margin-top: 60px;
    margin-bottom: 10px;

}